:root {
  --nude: #F0EAD2;
  --brown: #964b00;
  --pink: palevioletred;
  --card: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
body{
    background: var(--brown);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color:  var(--nude);
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container h1{
    font-family: "Great Vibes", cursive;
    margin-bottom: 10px;
}


#contact-form label {
  margin-bottom: 15px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1.5px solid var(--brown);
  outline: none;
}

#contact-form input[type="submit"] {
  background-color: var(--brown);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#contact-form input[type="submit"]:hover {
  background-color: var(--nude);
  border: 2px solid var(--brown);
  color: var(--brown);
}
.home{
    width: 100%;
    padding: 10px;
    background: var(--brown);
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 6px;
}
.home a{
    padding: 0.7rem;
    text-decoration: none;
    color: white;

}
.home:hover {
  background-color: var(--nude);
  border: 2px solid var(--brown);
}
.home:hover a{
    color: var(--brown);
}
.me{
    margin-top: 10px;
    font-size: 0.6rem;
}