:root {
  --nude: #F0EAD2;
  --brown: #964b00;
  --pink: palevioletred;
}
* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
body {
  background: var(--nude);
}
.wrapper{
  padding: 1.3rem;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--brown);
  border-radius: 30px;
  padding: 1.2rem 2rem;
}
.header ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header ul li{
  font-size: 1rem;
}
.header ul li a{
  text-decoration: none;
  padding: 0.6rem;
  font-size: 1rem;
  color: white;
  margin-right: 1rem;
  border-bottom: 2px solid transparent;
}
.header ul li a:hover{
  border-bottom: 2px solid var(--nude);
  transition: ease-out 0.5s;
}
.logo h1{
  font-family: "Great Vibes", cursive;
  font-size: 1.8rem;
  color: white;
}
.menu{
  margin-right: 10px;
  display: none;
}


.main{
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 80dvh;
  margin-top: 25px;
  width: 100%;
}
.left{
  width: 45%;
  text-align: center;
  align-items: center;
  place-content: center;
  padding: 1rem;
  min-width: 300px;
}
.right{
  width: 45%;
  place-content: center;
  margin: 0 auto;
}
.right img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 40px;
  padding: 0.5rem;
  border-left: 3px solid var(--brown);
  border-right: 3px solid var(--brown);
}
.arrow{
  width: 1.5rem;
  height: auto;
}
.left h1{
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--brown);
  margin-bottom: 25px;
}
.left h2{
  font-style: italic;
  font-family: "Great Vibes", cursive;
  color: var(--pink);
  margin-bottom: 10px;
}
.left button{
  margin-top: 20px;
  padding: 0.7rem;
  width: 50%;
  background: var(--brown);
  outline: none;
  border: none;
  border-radius: 20px;
}
.left button a{
  font-weight: bold;
  color: var(--nude);
  text-decoration: none;
}
.left button:hover{
  background: none;
  box-shadow: 2px 2px 20px var(--brown);
  transition: ease 0.2s;
}
.left button:hover a {
  color: var(--brown);
}

#toggle{
  background: transparent;
  border: none;
}

/* ARROW ANIMATION */

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.arrow{
  animation: moveUp 1s infinite;
}


/* FOR MOBILE */
@media (max-width: 768px) {
  .header li {
    margin: 0.5rem 0;
  }
  .right{
    display: none;
  }
  .left{
  width: 100%;
  text-align: center;
  align-items: center;
  place-content: center;
  padding: 1rem;
  min-width: 300px;
  text-size-adjust: 120%;
}
.header ul{
  display: none;
}
.menu{
  display: inline;
}
.sidebar{
  display: block;
}
}

/* THEME ALLOCATION */

body {
  background-color: var(--nude);
  transition: ease 0.4s;
}

body.dark-theme {
  --nude: rgb(208, 181, 140);
  --pink: white;
  transition: ease 0.4s;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  background: #964b00d1;
  backdrop-filter: blur(5px);
  color: var(--nude);
  font-weight: bold;
  top: 0;
  right:0; /* changed from right to left */
  z-index: 1;
  position: fixed;
  text-align: left;
  width: 9rem;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}

.sidebar nav {
  height: 50%;
  text-align: left;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0; /* added to remove default padding */
}

.sidebar nav ul li {
  list-style: none;
  margin-bottom: 40px;
}

.sidebar nav ul li a{
  color: var(--nude);
  text-decoration: none;
  padding: 3rem 1rem;
}
.back{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 1rem 1.3rem;
  color: var(--brown);
  background: var(--nude);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}
.back h3{
  background: none;
}