:root {
  --nude: #F0EAD2;
  --brown: #964b00;
  --pink: palevioletred;
  --card: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

body {
  background-color: var(--nude);
  color: #333;
}
.wrapper{
    padding: 2rem;
}
.home{
   display: flex;
    justify-content: center;
    align-items: center;
    background: var(--brown);
    border-radius: 20px;
    padding: 0.8rem;
    width: 8rem;
}
.home a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 5px;
}
.home a:hover{
    color: white;
}
.up{
  display: flex;
  width: 60%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #e7e1c8b4;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  padding: 10px;
}
#toggle{
  background: transparent;
  border: none;
}
#about-us, #about-lalachic, #our-story, #meet-lalage, #what-sets-us-apart, #contact-us, #social-media {
  max-width: 800px;
  margin: 40px auto;
  padding: 3rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--brown);
  gap: 10px;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #964B00; /* dark brown */
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #666;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #964B00; /* dark brown */
}

a:hover {
  color: #786C3B; /* lighter brown */
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
  #about-us, #about-lalachic, #our-story, #meet-lalage, #what-sets-us-apart, #contact-us, #social-media {
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  #about-us, #about-lalachic, #our-story, #meet-lalage, #what-sets-us-apart, #contact-us, #social-media {
    max-width: 100%;
    margin: 10px auto;
    padding: 5px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}

/* Button Styles */

.button {
  background-color: #964B00; /* dark brown */
  color: #F5F5DC; /* nude */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #786C3B; /* lighter brown */
}

/* Social Media Icons */

.social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-media-icons a {
  font-size: 24px;
  color: #964B00; /* dark brown */
}

.social-media-icons a:hover {
  color: #786C3B; /* lighter brown */
}

body {
  background-color: var(--nude);
  transition: ease 0.4s;
}

body.dark-theme {
  --nude: rgb(170, 146, 110);
  --card:rgb(223, 223, 223);
  transition: ease 0.4s;
}