:root {
  --nude: #f0ead2;
  --brown: #964b00;
  --pink: palevioletred;
  --card: white;
}
* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  cursor: pointer;
}
body {
  background: var(--nude);
}
.wrapper {
  padding: 1.5rem 2rem;
}
.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #e7e1c8b4;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  padding: 10px;
}
#toggle {
  background: transparent;
  border: none;
}
.topic {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--brown);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.topic h1 {
  font-size: 2rem;
  font-weight: lighter;
  color: rgb(142, 37, 37);
}
.prod-con {
  padding: 2rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
.prod {
  margin-top: 5px;
  flex-grow: 1;
  max-width: 300px;
}
.card {
  background: var(--card);
  padding: 10px;
  border-radius: 10px;
}
.card img {
  height: 13rem;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card p {
  margin-top: 5px;
  font-size: 0.9rem;
}
.cart {
  width: 100%;
  background: var(--brown);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 0.7rem;
  color: white;
  border: none;
  margin-top: 7px;
}
.cart:hover {
  background: none;
  box-shadow: 1px 1px 10px var(--brown);
  transition: ease 0.2s;
  color: var(--brown);
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brown);
  border-radius: 20px;
  padding: 0.8rem;
  width: 8rem;
}
.home a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 5px;
  color: white;
}

body {
  background-color: var(--nude);
  transition: ease 0.4s;
}

body.dark-theme {
  --nude: rgb(170, 146, 110);
  --card: rgb(223, 223, 223);
  transition: ease 0.4s;
}
